<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Inicio</a>
    <h1><%= title %></h1>
    <p>Alberto Juan Sebastian Lombraña</p>
    <p>aj.sebastian@alumnos.upm.es</p>
  </body>
</html>
